<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content class="py-4">
         <form #loginForm="ngForm">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput name="username" ngModel required>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput name="password" ngModel required>
              </mat-form-field>
         </form>
         <div class="alert alert-danger" role="alert" *ngIf="loginError">
            Invalid Credentials
          </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-button color="warn" (click)="clearForm(loginForm)">Clear</button>
          <button mat-flat-button color="primary" class="px-5" (click)="login(loginForm)" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
      </mat-card>
      <br>
</div>